body{
    margin: 0%;
    padding: 0%;
}
#navbar{
    border: 0px solid red;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    position: sticky;
    top: 0;
    background-color: white;
}

#bottomnav{
    width: 100%;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
   
}
#bottomnav>div:nth-child(1){
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
#bottomnav>div:nth-child(1)>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#bottomnav> #blink1>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#bottomnav>#blink1{
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #0e3742;
    /* text-transform: uppercase; */
    width:80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    -webkit-box-reflect:below 1px linear -gradiant(transparent,#0004);
    line-height: 0.7em;
    outline: none;
    animation: animate 1s linear infinite;
     
}
@keyframes animate{
    0%{
        color: #0e3742;
        box-shadow: none;
    }
    100%{
        color: #fff;
        box-shadow: 0 0 10px #0345a8,
                     0 0 20px #0345a8,
                      0 0 40px #0345a8,
                       0 0 80px #0345a8,
                     0 0 160px #0345a8,
                     0 0 320px #0345a8, 
                     0 0 320px #0345a8;   
    }
}
#logo>div:nth-child(1){
    display: flex;
}
#logo>div:nth-child(1)>div:nth-child(1)>img{
 width: 50px;
}
#sec{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    margin-left: -100px;
    font-weight: bold;
}


#logo>div>div:nth-child(1){
    width: 30%;

}
#logo>div>div:nth-child(2){
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
#logo>div:nth-child(2)>p{
    margin-top: -5px;
    color: #666666;
    font-size: 13px;
    text-align: center;
}

/* #drop{
    border: 1px solid black;
} */
/* #drop>ul{
    background-color: midnightblue;
} */
#drop ul {
list-style: none;
position: relative;
margin: 0%;
padding: 0%;
float: center;
}
#drop ul a{
color:black;
text-decoration: none;
font-size: 15px;
font-weight: bold;
line-height: 32px;
padding: 0px 15px;
display: block;
}
#drop ul li{
float: center;
position: relative;
margin: 0;
padding: 0%;

}
#drop ul ul{
position: absolute;
background-color: white;
top: 80%;
left: 0%;
display: none;
/* border: 1px solid green; */
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#drop ul ul li{
float: none;
width: 180px;
}


#drop ul li:hover>ul{
display: block;

}
#drop ul ul a:hover{
color: blue;
}
#drop>ul>li>a:hover{
color: blue;
}
#drop ul ul a{
color: grey;
}
#sec button{
/* background-color: blue; */

/* color: white; */
padding: 10px 20px;
border-radius: 5px;
font-weight: bold;

font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}
#btn1{
background-color: white;
color: blue;
border: 1px solid blue;
}
#btn2{
background-color:rgb(40, 40, 254);
color: white;
border: 1px solid rgb(90, 90, 252);
}
#btn1:hover{
cursor: pointer;
background-color: rgb(234, 234, 255);
}
#btn2:hover{
cursor: pointer;
background-color: rgb(10, 10, 211);
}
/* #sec{
border: 1px solid black;

} */

#sec div:hover{
cursor: pointer;
color: blue;
 border-bottom: 2px solid blue;
}
#sec>div{
border: 0px solid red;
height: 80%;
display: flex;
align-items: center;
text-align: center;
}
/* #ins>div:nth-child(1)>img{
width: 30px;


}
#ins>div:nth-child(1){
border: 1px solid red;
margin-top: -15px;
display: flex;
justify-content: right;
align-items: baseline;
}
#ins{
display: grid;
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(2,1fr);
border: 5px solid black;
} */
#navdown{
border: 0px solid red;
padding: 0px 50px;
display: grid;
grid-template-columns: 45% 10% 45%;
}
#navdown>div{
border: 0px solid black;
height: 400px;
margin-top: 100px;
}
#navdown>div>div{
border: 0px solid red;
width: 90%;
height: auto;
margin: auto;
} 
#navdown>div>div:nth-child(1)>div{
border: 0px solid green;
width: 50px;
height: 50px;
margin-right: 15%;
}
#navdown>div>div:nth-child(1){
display: flex;
justify-content: right;
/* align-items: flex-end; */
padding-right: 20px;
padding-bottom: 20px;
height: 100px;
}
#navdown>div:nth-child(1)>div:nth-child(2)>div{
border: 0px solid purple;
width: 90%;
margin: auto;
padding: 20px;
}
#btn3{
padding: 8px 18px;
border-radius: 5px;
border-color: #465Def;
color:white;

background-color:#465Def;
font-size: 18px;
}
#btn4{
padding: 8px 18px;
border-radius: 5px;
border-color: #465Def;
color:#465Def;
margin-left: 15px;
background-color: white;
font-size: 18px;

}
#btn3:hover{
cursor: pointer;
background-color: #2031a1;
}
#btn4:hover{
cursor: pointer;
background-color: #eceffc;
}
#slid_track{
width: 93%;

border: 0px solid blue;
margin: auto;
margin-top: 50px;
}
@keyframes scroll{
0%{
    transform: translateX(0);
}
80%{
    transform: translateX(calc(-200px*4));
}
}
.slider{
height: 100px;
margin: auto;
overflow: hidden;
position: relative;
width: auto;

}
.slider .slider-track{
animation: scroll 60s linear infinite;
display: flex;
width: calc(250px*8);
gap: 80px;
}
.slider .slide{
height: 80px;
width: 200px;

}
#vediocontainer{
margin: auto;
margin-top: 50px;
border: 0px solid black;
width: 600px;
height: 337px;
border-radius: 40px;
}
#vediocontainer>iframe{
border-radius: 20px;
}
#black{
width: 90%;
height: auto;
margin: auto;
background-color: rgb(4, 4, 28);
margin-top: 100px;
font-family:  Arial, Helvetica, sans-serif;
text-align: center;
padding-top: 150px;
padding-bottom: 100px;
border-radius: 10px;

}
#black>div{
border: 0px solid green;
color: white;
height: auto;
width: 30%;
margin: auto;
font-size: 12px;

}
#black>div>div{
border: 0px solid yellow;
height: 100%;
}
#black>div>div>img{
height: 50px;
width: 30%;
margin-top: -10%;
}
#black>div>h1,h1+div+p{
margin-top: -4%;
}
#black> #bll{
height: 500px;
width: 90%;
margin: auto;
border: 0px solid rgb(0, 255, 55);
display: grid;
grid-template-columns:25% 50% 25%;
}
#black>#bll>div{
border: 0px solid red;
}

#black>#bll>div:nth-child(1){
display: flex;
justify-content: flex-end;
align-items: center;
padding-right: 20px;
}
#black>#bll>div:nth-child(3){
display: flex;

align-items: center;
padding-left: 20px;
}
#black>#bll>div:nth-child(1)>div{
border: 0px solid white;
height: 250px;
width:150px;
border-radius: 10px;
}
#black>#bll>div:nth-child(3)>div{
border: 0px solid white;
height: 250px;
width:270px;
border-radius: 10px;
font-size: 12px;
padding: 0%;
line-height: 20px;
text-align: left;
}
#black>#bll>div:nth-child(3)>div>ul li{
margin-left: -15%;
}
#black>#bll>div:nth-child(1)>div>img{
width: 100%;
height: 100%;
border-radius: 10px;

}
#secbottom{
    width: 100%;height:auto;
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    text-align: center;
    font-family: monospace;
    margin-top: 50px;
}
#secbottom>div{
    border: 0px solid green;
}
#secbottom>div:nth-child(1){
    height: auto;
}
#secbottom>div:nth-child(1)>div>div{
    border: 0px solid rgb(34, 0, 128);
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: -2%;
}
#secbottom>div:nth-child(1)>div{
    border: 0px solid black;
    width: 50%;
    margin: auto;
}
#secbottom>div:nth-child(1)>div>p{
    border: 0px solid black;
    width: 100%;
    margin: auto;
    color: grey;
}
#secbottom>div:nth-child(2)>div{
    height: auto;
    width: 60%;
    border: 0px solid red;
    margin: auto;
    margin-top: 50px;
}
#feature{
    width: 100%;
    height: 700px;
    border: 0px solid green;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #F6F9FF;
}
#feature>div{
    border: 0px solid blue;
    width: 80%;
  margin: auto

}
#feature>div:nth-child(1){
    text-align: center;
    font-family:  monospace;
    font-weight: bold;
}
#feature>div:nth-child(1)>div{
    border: 0px solid green;
    width: 40%;
    margin: auto;
}
#feature>div:nth-child(1)>div>div{
    border: 0px solid yellow;
    width: 35%;
    margin: auto;
    margin-top: -4%;
}
#feature>div:nth-child(1)>div>p{
    border: 0px solid black;
    width: 100%;
    margin: auto;
    color: grey;
}
#feature>div:nth-child(2){
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#feature>div:nth-child(2)>div{
    border: 1px solid rgb(115, 145, 253);
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

#feature>div:nth-child(2)>div>img{
    width: 40px;
    height: 40px;
    border: 0px solid red;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(216, 226, 255);
}
#feature>div:nth-child(2)>div>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
}
#omni{
    width: 95%;
    margin: auto;
    border: 1px solid black;
    height: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
#omni>div{
    border: 1px solid green;
}
#omni>div:nth-child(1){
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 30px;
}
#omni>div:nth-child(1)>div{
    border: 1px solid purple;
    height: 100px;
}